# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
shrinkwrap.yaml

# development
tsconfig.tsbuildinfo

# project specific
*.exe
*.nsi
test.js
test.ts
todo.md

# folders
.circleci/
.editorconfig
src/
test/
types/

# files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json
