# folders
.circleci/
.editorconfig
src/
test/
types/

# files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json

# development
tsconfig.tsbuildinfo

# project specific
*.exe
*.nsi
test.js
test.ts
todo.md
