auto-install-peers=true
strict-peer-dependencies=false

public-hoist-pattern[]=*@biomejs/biome*
public-hoist-pattern[]=*@e18e/cli*
public-hoist-pattern[]=*@total-typescript/tsconfig*
public-hoist-pattern[]=*lefthook*
