# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
pnp-lock.yaml
shrinkwrap.yaml
yarn-error.log

# development
.circleci/
.editorconfig
.eslintcache
.github/
.husky/
src/
test/
types/
tsconfig.tsbuildinfo

# project specific
*.exe
*.nsi
test.js
test.ts
todo.md

# files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json
