{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"singleAttributePerLine": false,
	"printWidth": 240,
	"tabWidth": 2,
	"useTabs": true
}
