sudo: true
os:
- linux
- osx
before_install:
# - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then sudo apt-get update && sudo apt-get -t experimental install nsis --allow-unauthenticated -y; fi
- if [[ $TRAVIS_OS_NAME == 'linux' ]]; then sudo apt-get install nsis; fi
- if [[ $TRAVIS_OS_NAME == 'osx' ]]; then brew update && brew install nsis; fi
language: node_js
node_js:
- "node"
- "lts/*"
git:
  depth: 1
branches:
  only:
  - master
cache:
  timeout: 1800
  yarn: true
  directories:
  - node_modules
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    # - sourceline: 'deb http://deb.debian.org/debian experimental main'
    packages:
    - g++-4.8
notifications:
  email: false
